# Python
__pycache__/
*.py[cod]
venv/

# Enviorment variables
.env

# IDE
.vscode/
.idea/

# Logs
*.log
logs/

# Ignore data files
data/

#Ignore DS Store files
.DS_Store

#Ignore aws jar file
docker/spark-jars/aws-java-sdk-bundle-1.12.540.jar
