services:
  minio:
    image: minio/minio:latest
    container_name: minio
    ports:
      - "9000:9000"
      - "9001:9001"
    environment:
      MINIO_ROOT_USER: admin
      MINIO_ROOT_PASSWORD:  password
    command: server /data --console-address ":9001"
    volumes:
      - minio_data:/data
    networks:
      - data_network
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:9000/minio/health/live"]
      interval: 30s
      timeout: 20s
      retries: 3
  zookeeper:
    image: confluentinc/cp-zookeeper:7.5.0
    container_name: de_zookeeper
    environment:
      ZOOKEEPER_CLIENT_PORT: 2181
      ZOOKEEPER_TICK_TIME: 2000
    networks:
      - data_network

  kafka:
    image: confluentinc/cp-kafka:7.5.0
    container_name: de_kafka
    ports:
      - "9092:9092" 
    depends_on:
      - zookeeper
    environment:
      KAFKA_BROKER_ID: 1
      KAFKA_ZOOKEEPER_CONNECT: de_zookeeper:2181
      KAFKA_ADVERTISED_LISTENERS: PLAINTEXT://de_kafka:29092,PLAINTEXT_HOST://localhost:9092
      KAFKA_LISTENER_SECURITY_PROTOCOL_MAP: PLAINTEXT:PLAINTEXT,PLAINTEXT_HOST:PLAINTEXT
      KAFKA_INTER_BROKER_LISTENER_NAME: PLAINTEXT
      KAFKA_OFFSETS_TOPIC_REPLICATION_FACTOR: 1
    networks:
      - data_network
  
  nifi:
    image: apache/nifi:latest
    container_name: de_nifi
    ports:
      - "8443:8443" 
    environment:
      - NIFI_WEB_HTTP_PORT=
      - NIFI_WEB_HTTPS_PORT=8443
      - SINGLE_USER_CREDENTIALS_USERNAME=admin
      - SINGLE_USER_CREDENTIALS_PASSWORD=admin1234sifra1234
    volumes:
      - nifi_data:/opt/nifi/nifi-current/conf
      - ../data/ingest:/opt/nifi/nifi-current/ingest_source
      - ../src/ingestion:/opt/nifi/nifi-current/custom_scripts
    networks:
      - data_network

networks:
  data_network:
    driver: bridge

volumes:
  minio_data:
  nifi_data: