services:
#1 Storage services
  postgres:
    image: postgres:15-alpine
    container_name: postgres
    restart: always #
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: youtube_analytics
      POSTGRES_INITDB_ARGS: "--auth-local=peer --auth-host=md5" #
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
      - ./sql/init.sql:/docker-entrypoint-initdb.d/init.sql
    networks:
      - data_network
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres"]
      interval: 10s
      timeout: 5s
      retries: 5
  minio:
    image: minio/minio:latest
    container_name: minio
    restart: always
    ports:
      - "9000:9000"
      - "9001:9001"
    environment:
      MINIO_ROOT_USER: admin
      MINIO_ROOT_PASSWORD:  password
    command: server /data --console-address ":9001"
    volumes:
      - minio_data:/data
    networks:
      - data_network
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:9000/minio/health/live"]
      interval: 30s
      timeout: 20s
      retries: 3

      
      
      
#2 Ingestion services
  
  zookeeper:
    image: confluentinc/cp-zookeeper:7.5.0
    container_name: zookeeper
    restart: always
    environment:
      ZOOKEEPER_CLIENT_PORT: 2181
      ZOOKEEPER_TICK_TIME: 2000
    networks:
      - data_network
    healthcheck:
      test: echo srvr | nc localhost 2181 || exit 1
      interval: 10s
      timeout: 5s
      retries: 5

  kafka:
    image: confluentinc/cp-kafka:7.5.0
    container_name: kafka
    restart: always
    ports:
      - "9092:9092" 
    depends_on:
      - zookeeper
    environment:
      KAFKA_BROKER_ID: 1
      KAFKA_ZOOKEEPER_CONNECT: zookeeper:2181
      KAFKA_ADVERTISED_LISTENERS: PLAINTEXT://kafka:29092,PLAINTEXT_HOST://localhost:9092
      KAFKA_LISTENER_SECURITY_PROTOCOL_MAP: PLAINTEXT:PLAINTEXT,PLAINTEXT_HOST:PLAINTEXT
      KAFKA_INTER_BROKER_LISTENER_NAME: PLAINTEXT
      KAFKA_OFFSETS_TOPIC_REPLICATION_FACTOR: 1
      KAFKA_AUTO_CREATE_TOPICS_ENABLE: "true"
    networks:
      - data_network
    healthcheck:
      test: nc -z localhost 9092 || exit 1
      interval: 10s
      timeout: 5s
      retries: 5


  
  nifi:
    image: apache/nifi:latest
    container_name: nifi
    restart: unless-stopped
    ports:
      - "8443:8443" 
    environment:
      - NIFI_WEB_HTTP_PORT=
      - NIFI_WEB_HTTPS_PORT=8443
      - SINGLE_USER_CREDENTIALS_USERNAME=admin
      - SINGLE_USER_CREDENTIALS_PASSWORD=admin1234sifra1234
    volumes:
      - nifi_data:/opt/nifi/nifi-current/conf
      - ../data/ingestion:/opt/nifi/nifi-current/ingest_source
      - ../src/ingestion:/opt/nifi/nifi-current/custom_scripts
    networks:
      - data_network

#3 Processing services
  spark-master:
    image: apache/spark:3.5.0-python3
    container_name: spark-master
    restart: always
    user: root 
    environment:
      - SPARK_MODE=master
      - SPARK_RPC_AUTHENTICATION_ENABLED=no
      - SPARK_RPC_ENCRYPTION_ENABLED=no
      - SPARK_LOCAL_STORAGE_ENCRYPTION_ENABLED=no
      - SPARK_SSL_ENABLED=no
    ports:
      - "8080:8080" 
      - "7077:7077" 
    volumes:
      - ../src/processing:/opt/spark/jobs
      - ./spark-jars:/opt/spark/jars-custom
    command: /opt/spark/bin/spark-class org.apache.spark.deploy.master.Master
    networks:
      - data_network

  spark-worker1:
    image: apache/spark:3.5.0-python3
    container_name: spark-worker-1
    user: root
    depends_on:
      - spark-master
    environment:
      - SPARK_MODE=worker
      - SPARK_WORKER_CORES=2
      - SPARK_WORKER_MEMORY=2G
      - SPARK_RPC_AUTHENTICATION_ENABLED=no
      - SPARK_RPC_ENCRYPTION_ENABLED=no
      - SPARK_LOCAL_STORAGE_ENCRYPTION_ENABLED=no
      - SPARK_SSL_ENABLED=no
    volumes:
      - ../src/processing:/opt/spark/jobs
      - ./spark-jars:/opt/spark/jars-custom
    command: /opt/spark/bin/spark-class org.apache.spark.deploy.worker.Worker spark://spark-master:7077
    networks:
      - data_network

  spark-worker2:
    image: apache/spark:3.5.0-python3
    container_name: spark-worker-2
    user: root
    depends_on:
      - spark-master
    environment:
      - SPARK_MODE=worker
      - SPARK_WORKER_CORES=2
      - SPARK_WORKER_MEMORY=2G
      - SPARK_RPC_AUTHENTICATION_ENABLED=no
      - SPARK_RPC_ENCRYPTION_ENABLED=no
      - SPARK_LOCAL_STORAGE_ENCRYPTION_ENABLED=no
      - SPARK_SSL_ENABLED=no
    volumes:
      - ../src/processing:/opt/spark/jobs
      - ./spark-jars:/opt/spark/jars-custom
    command: /opt/spark/bin/spark-class org.apache.spark.deploy.worker.Worker spark://spark-master:7077
    networks:
      - data_network


#4 Orchestration services
  airflow:
    build:
      context: .
      dockerfile: Dockerfile.airflow
    container_name: airflow  
    restart: always
    user: root
    depends_on:
      postgres:
        condition: service_healthy
      spark-master:
        condition: service_started
    environment:
      YOUTUBE_API_KEY: ${YOUTUBE_API_KEY}
      INGESTION_OUTPUT_DIR: /opt/airflow/ingest_buffer
      AIRFLOW__CORE__EXECUTOR: LocalExecutor
      AIRFLOW__CORE__SQL_ALCHEMY_CONN: postgresql+psycopg2://airflow:airflow@postgres:5432/airflow
      AIRFLOW__CORE_DAGS_ARE_PAUSED_AT_CREATION: "true"
      AIRFLOW__CORE__LOAD_EXAMPLES: "false"
      AIRFLOW__WEBSERVER_EXPOSE_CONFIG: "true"
      AIRFLOW__WEBSERVER__SESSION_COOKIE_NAME: airflow_session
    env_file:
      - ../.env
    volumes:
      - ../dags:/opt/airflow/dags
      - ../logs/airflow:/opt/airflow/logs
      - /var/run/docker.sock:/var/run/docker.sock
      - /usr/bin/docker:/usr/bin/docker
      - ../src/processing:/opt/spark/jobs
      - ../src/ingestion:/opt/airflow/ingestion_scripts
      - ../data/ingestion:/opt/airflow/data/ingestion
    ports:
      - "8081:8080"
    command: >
      bash -c "
      airflow db init &&
      airflow users create --username admin --firstname Admin --lastname Adminovic --role Admin --email adminn@admin.org --password admin &&
      airflow webserver & airflow scheduler
      "
    networks:
      - data_network



#5 Visualization services
  superset:
    image: apache/superset:4.0.2
    container_name: superset
    restart: always
    depends_on:
      postgres:
        condition: service_healthy
    environment:
    - SUPERSET_SECRET_KEY=tajni_kljuc112233
      - GUNICORN_KEEP_ALIVE=120
      - GUNICORN_KEEP_ALIVE=120
      - SUPERSET_CONFIG_PATH=/app/pythonpath/superset_config.py
      
    ports:
      - "8088:8088"
    volumes:
      - ./superset/superset_config.py:/app/pythonpath/superset_config.py
    command: >
      sh -c "
      superset fab create-admin --username admin --firstname Admin --lastname Adminovic --email admin@admin.com --password admin &&
      superset db upgrade &&
      superset init &&
      /usr/bin/run-server.sh"
    networks:
      - data_network

networks:
  data_network:
    driver: bridge

volumes:
  minio_data:
  nifi_data:
  postgres_data:
