services:
  airflow:
    user: root
    image: apache/airflow:2.7.1
    container_name: airflow
    depends_on:
    - postgres
    - spark-master
    environment:
      AIRFLOW__CORE__EXECUTOR: LocalExecutor
      AIRFLOW__CORE__SQL_ALCHEMY_CONN: postgresql+psycopg2://postgres:postgres@postgres:5432/youtube_analytics
      AIRFLOW__CORE_DAGS_ARE_PAUSED_AT_CREATION: "true"
      AIRFLOW__CORE__LOAD_EXAMPLES: "false"
      AIRFLOW__WEBSERVER_EXPOSE_CONFIG: "true"
    volumes:
      - ../dags:/opt/airflow/dags
      - ../logs/airflow:/opt/airflow/logs
      - /var/run/docker.sock:/var/run/docker.sock
      - /usr/bin/docker:/usr/bin/docker
      - ../src/processing:/opt/spark/jobs
    ports:
      - "8081:8080"
    command: bash -c "apt-get update && apt-get install -y curl && \
                      curl -sSL https://download.docker.com/linux/static/stable/x86_64/docker-25.0.0.tgz | tar -xz -C /usr/local/bin/ --strip-components=1 && \
                      airflow db init && \
                      airflow users create --username admin --firstname Admin --lastname Adminovic --role Admin --email adminn@admin.org --password admin && \
                      airflow webserver & airflow scheduler"
    networks:
      - data_network

  postgres:
    image: postgres:15
    container_name: postgres
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: youtube_analytics
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
      - ./sql/init.sql:/docker-entrypoint-initdb.d/init.sql
    networks:
      - data_network
  minio:
    image: minio/minio:latest
    container_name: minio
    ports:
      - "9000:9000"
      - "9001:9001"
    environment:
      MINIO_ROOT_USER: admin
      MINIO_ROOT_PASSWORD:  password
    command: server /data --console-address ":9001"
    volumes:
      - minio_data:/data
    networks:
      - data_network
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:9000/minio/health/live"]
      interval: 30s
      timeout: 20s
      retries: 3
  zookeeper:
    image: confluentinc/cp-zookeeper:7.5.0
    container_name: zookeeper
    environment:
      ZOOKEEPER_CLIENT_PORT: 2181
      ZOOKEEPER_TICK_TIME: 2000
    networks:
      - data_network

  kafka:
    image: confluentinc/cp-kafka:7.5.0
    container_name: kafka
    ports:
      - "9092:9092" 
    depends_on:
      - zookeeper
    environment:
      KAFKA_BROKER_ID: 1
      KAFKA_ZOOKEEPER_CONNECT: zookeeper:2181
      KAFKA_ADVERTISED_LISTENERS: PLAINTEXT://kafka:29092,PLAINTEXT_HOST://localhost:9092
      KAFKA_LISTENER_SECURITY_PROTOCOL_MAP: PLAINTEXT:PLAINTEXT,PLAINTEXT_HOST:PLAINTEXT
      KAFKA_INTER_BROKER_LISTENER_NAME: PLAINTEXT
      KAFKA_OFFSETS_TOPIC_REPLICATION_FACTOR: 1
    networks:
      - data_network
  
  nifi:
    image: apache/nifi:latest
    container_name: nifi
    ports:
      - "8443:8443" 
    environment:
      - NIFI_WEB_HTTP_PORT=
      - NIFI_WEB_HTTPS_PORT=8443
      - SINGLE_USER_CREDENTIALS_USERNAME=admin
      - SINGLE_USER_CREDENTIALS_PASSWORD=admin1234sifra1234
    volumes:
      - nifi_data:/opt/nifi/nifi-current/conf
      - ../data/ingest:/opt/nifi/nifi-current/ingest_source
      - ../src/ingestion:/opt/nifi/nifi-current/custom_scripts
    networks:
      - data_network

  spark-master:
    image: apache/spark:3.5.0-python3
    container_name: spark-master
    user: root 
    environment:
      - SPARK_MODE=master
      - SPARK_RPC_AUTHENTICATION_ENABLED=no
      - SPARK_RPC_ENCRYPTION_ENABLED=no
      - SPARK_LOCAL_STORAGE_ENCRYPTION_ENABLED=no
      - SPARK_SSL_ENABLED=no
    ports:
      - "8080:8080" 
      - "7077:7077" 
    volumes:
      - ../src/processing:/opt/spark/jobs
      - ./spark-jars:/opt/spark/jars-custom
    command: /opt/spark/bin/spark-class org.apache.spark.deploy.master.Master
    networks:
      - data_network

  spark-worker:
    image: apache/spark:3.5.0-python3
    container_name: spark-worker
    user: root
    environment:
      - SPARK_MODE=worker
      - SPARK_WORKER_CORES=1
      - SPARK_WORKER_MEMORY=1G
      - SPARK_RPC_AUTHENTICATION_ENABLED=no
      - SPARK_RPC_ENCRYPTION_ENABLED=no
      - SPARK_LOCAL_STORAGE_ENCRYPTION_ENABLED=no
      - SPARK_SSL_ENABLED=no
    volumes:
      - ../src/processing:/opt/spark/jobs
      - ./spark-jars:/opt/spark/jars-custom
    command: /opt/spark/bin/spark-class org.apache.spark.deploy.worker.Worker spark://spark-master:7077
    networks:
      - data_network
    depends_on:
      - spark-master

networks:
  data_network:
    driver: bridge

volumes:
  minio_data:
  nifi_data:
  postgres_data:
